<div class="center-container">
	<h1>Recent Cells</h1>
</div>

<div class="center-container">
	<ul class="clean">
		<% @recent_cells.each do |cell|%>
			<li class="tr-height"><h3><%=link_to cell.name, cell_path(cell)%></h3></li>
		<%end%>
	</ul>
</div>