/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
	 font-family: "Overseer Italic";
	 src: url(/assets/Overseer-Italic.otf) format("truetype");
 }

 @font-face {
	font-family: "Overseer";
	src: url(/assets/Overseer.otf) format("truetype");
}

 body {
		font-size: 18px;
		margin: 0;
		/* padding: 10px; */
		background-color: rgb(27, 27, 27);
		color: white;
	}

	h1 {
		font-family: "Overseer Italic";
		letter-spacing: .06em;
		font-weight: normal;
	}

	h2 {
		font-family: "Overseer Italic";
		letter-spacing: .06em;
		font-weight: normal;
	}

	.padded-body {
		padding: 10px;
	}
 

.strikethrough {
	text-decoration: line-through;
}

.inline {
	/* white-space: nowrap; */
	display: inline-block;
}

.clean {
	list-style: none;
}

.unchecked_button {
	font-size: 25px;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 1px;
}

.checked_button {
	color: green;
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 1px;
}

.nav-text-italic {
	font-family: "Overseer Italic";
	font-size: 20pt;
	letter-spacing: .06em;
}

.nav-text {
	font-family: "Overseer";
	font-size: 18pt;
}

.title {
	font-size: 50px;
}

.nav-bar {
	background-color: rgb(51, 51, 51);
	color: white;
	padding: 10px;
}

a {
	color: hotpink;
	text-decoration: none;
}

.fallout-font {
	font-family: "Overseer Italic";
	/* font-size: 18pt; */
	letter-spacing: .06em;
}