/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
	--main-accent-color: hotpink;
	--grid-width: 1200px;
	--grid-height: 1015px;
	--header-background-color: rgb(53, 53, 53);
	--input-field-background-color: rgb(185, 185, 185);
}

/* Fonts */
	@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 @font-face {
	 font-family: "Overseer Italic";
	 src: url(/assets/Overseer-Italic.otf) format("truetype");
 }

 @font-face {
	font-family: "Overseer";
	src: url(/assets/Overseer.otf) format("truetype");
}

	body {
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		margin: 0;
		/* padding: 10px; */
		background-color: rgb(27, 27, 27);
		color: white;
	}

	h1 {
		font-family: "Overseer Italic";
		letter-spacing: .06em;
		font-weight: normal;
	}

	h2 {
		font-family: "Overseer Italic";
		letter-spacing: .06em;
		font-weight: normal;
	}

	h3 {
		margin: 2px;
	}

	.padded-body {
		padding: 10px;
	}
 

.strikethrough {
	text-decoration: line-through;
	color: rgb(77, 77, 77);
}

.inline {
	/* white-space: nowrap; */
	display: inline-block;
}

.clean {
	list-style: none;
}

ul {
	padding-inline-start: 0;
}


/* ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
} */

.unchecked_button {
	font-size: 25px;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 1px;
}

.checked_button {
	/* color: green; */
	color: var(--main-accent-color);
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	margin: 1px;
}

.nav-text-italic {
	font-family: "Overseer Italic";
	font-size: 18pt;
	letter-spacing: .06em;
}

.nav-text {
	font-family: "Overseer";
	font-size: 18pt;
}

.title {
	font-size: 50px;
}

.nav-bar {
	background-color: rgb(51, 51, 51);
	color: white;
	padding: 10px;
}

a {
	color: var(--main-accent-color);
	text-decoration: none;
	transition: .3s ease;
}

a:hover {
	/* color: var(--main-accent-color); */
	text-decoration: underline;
	/* transition: .3s ease; */
}

/* header a:hover {
	color: black;
	text-decoration: un;
	background-color: var(--main-accent-color);
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--main-accent-color);
	padding: 2px; 
	transform: skew(-20deg); 
}  */

.fallout-font {
	font-family: "Overseer Italic";
	/* font-size: 18pt; */
	letter-spacing: .06em;
	margin: 0px;
}

.border-box {
	border: 2px;
	border-style: solid;
	border-radius: 10px;
	border-color: var(--main-accent-color);
	padding: 8px 15px;
	/* transform: skew(-20deg); */
	display: inline-block;
	background-color: var(--header-background-color);
}

.skew-border-box {
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--main-accent-color);
	padding: 3px 10px;
	transform: skew(-20deg);
	display: inline-block;
}

.skew-correction {
	transform: skew(20deg);
}


#all-cells {
	width: 80%;
}

table, th, td {
	border: 1px solid rgb(66, 66, 66);
	border-collapse: collapse;
}

.submit-button {
	background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--main-accent-color);
  /* padding: 15px 32px; */
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 20px;
	transition: .2s;
}

.submit-button:hover {
	background-color: var(--main-accent-color);
  border: none;
  color: rgb(0, 0, 0);
  /* padding: 15px 32px; */
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 20px;
}

.nav-links {
	text-decoration: none;
	list-style: none;
}

.nav-links li {
	display: inline-block;
	/* padding: 0px 10px; */
	margin: 0px 10px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 5%;
	background-color: var(--header-background-color);
	border-bottom: 1px solid rgb(88, 88, 88);

}

.color-col {
	width: 20px;
}

.name-col {
	min-width: 300px;
}

.color-box {
	width: 18px;
	height: 18px;
	background-color: var(--main-accent-color);
	display: inline-block;
}

.center-container {
	display: flex;
  justify-content: center;
}

.left-container {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.grid-container {
	width: var(--grid-width);
	min-width: var(--grid-width);
	height: var(--grid-height);
	min-height: var(--grid-height);
	display: grid;
	grid-template: repeat(77, 1fr) / repeat(91, 1fr);
	gap: 0px;

	place-self: stretch;
	background-image: url("AshTestMap2trans.png");
	background-size: 1200px 1015px;
}

.cell-block {
	background-color: white;
	display: flex;
	place-self: stretch;
	height: 100%;
	width: 100%;
	opacity: 1;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width:  200px;
	bottom: 150%;
	left: 50%;
	margin-left: -100px;

	background-color: rgb(54, 54, 54);
	color: var(--main-accent-color);
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;

}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color:rgb(54, 54, 54)	transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;

}

.map-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5%;
	/* background-color: rgb(22, 22, 22); */
	/* border-style: solid; */
	border-bottom: 1px solid rgb(61, 61, 61);

}

.dark-font {
	color: rgb(31, 31, 31);
	/* text-align: center; */
}

.progress-legend {
	text-align: center;
	display: flex;
	justify-content: center;
	/* flex: auto; */
	width: var(--grid-width);

	text-decoration: none;
	list-style: none;
}

.progress-legend li {
	display: inline-flex;
	margin: auto;
	/* padding: 0px 10px; */
	/* margin: 0px 10px; */
}

#default-cell-color {
	background-color: rgb(15, 15, 15);
}

#cell-progress-0 { background-color: #FF0000;}
#cell-progress-10 {	background-color: #FF3300;}
#cell-progress-20 {	background-color: #ff6600;}
#cell-progress-30 {	background-color: #ff9900;}
#cell-progress-40 {	background-color: #FFCC00;}
#cell-progress-50 {	background-color: #FFFF00;}
#cell-progress-60 {	background-color: #ccff00;}
#cell-progress-70 {	background-color: #99ff00;}
#cell-progress-80 {	background-color: #66ff00;}
#cell-progress-90 {	background-color: #33ff00;}
#cell-progress-100 { background-color: #00FF00;}


/* Cell Show Page Styles */

#show-header {
	width: 90vw;
	display: flex;
	justify-content: space-between;
	/* flex-direction: column; */
	/* align-content: flex-end; */
	/* margin: auto; */
	margin-bottom: auto;
}

.cell-grid-container {
	width: 90vw;
	height: auto;
	min-height: 300px;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
	gap: 10px;
}

#show-container {
	grid-column-start: 1;
	grid-row-start: 1;
}

#tasks-container {
	grid-column-start: 2;
	grid-row-start: 1;
}

#quest-container {
	grid-column-start: 3;
	grid-row-start: 1;
}

#comment-container {
	grid-column: 1/4;
	grid-row-start: 2;
}

.cell-info-table {
	width: 95%;
}

.cell-col-1 {
	width: 40%;
	/* text-justify: end; */
}

.task-col-2 {
	width: 115px;
}

.right-align-text {
	text-align: right;
	/* padding-top: 6px;
	padding-bottom: 6px; */
	/* height: 40px; */
}

.tr-height{
	height: 40px;
}

.no-border tr td {
	border-collapse: collapse;
	/* border: 0px solid red; */
	border: none
	/* width: 95%; */
}

.no-border {
	border: none
}

/* form styles */

.input-field {
	width: 100%;
}

input {
	border: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--main-accent-color);
	/* padding: 8px 15px; */
	background-color: var(--input-field-background-color);
	/* display: inline-block; */
	/* width: 100%; */
	font-size: 14pt;
}

textarea {
	border: 1px solid var(--main-accent-color);
	border-radius: 5px;
	background-color: var(--input-field-background-color);
	width: 100%;
}

.error {
	border-color: red;
	border-width: 3px;
}

/* New Task Form */

.border-box-skinny {
	border: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: var(--main-accent-color);
	margin-left: 10px;
	/* padding: 8px 15px; */
	/* transform: skew(-20deg); */
	/* display: inline-block; */
	background-color: var(--header-background-color);
}

#new-task-input {
	display: block;
	overflow: hidden;
	padding-right: 10px;
	width: 100%;
	/* float: left; */
}

.float-right {
	float: right;
	/* margin-left: auto; */
}

.comment-textarea {
	display: flex;
	width: 60%;
	height: 60px;
}

/* Comments */

.no-comment {
	height: 50px;
	color: rgb(128, 128, 128);
}

hr {
	height: 1px;
	width: 100%;
	background-color: rgb(128, 128, 128);
	border: none;
}