<div class="center-container">
	<span class="skew-border-box" id="new-cell-button">
	<h1 class="fallout-font skew-correction"><%=link_to "Edit Region", edit_region_path(@region)%></h1>
	</span>
</div>





<div class="center-container">
	<h1> <%= @region.name %></h1>
</div>

<div class="center-container">
	<%= render partial: "cells/index", locals: {cells: @region.cells}%>
</div>

<div class="center-container">
	<%if @region.cells.blank?%>
		<br>
		No cells currently assigned to region :(
	<%end%>
</div>