<div class="map-header">
	<h1 class="inline">Pacific Wasteland Cell Map </h1>
	<h3 class="inline"> Colors: Users</h3>
</div>
<br>


<%=render partial: "map", locals: {cells: @cells, color_mode: "user"} %>