<%=render partial: "map", locals: {cells: @cells, color_mode: "progress"} %>

<div class="center-container">
	<div class="progress-legend dark-font">
		<span class="progress-legend" id="cell-progress-0"> 0% </span>
		<span class="progress-legend" id="cell-progress-10"> 10% </span>
		<span class="progress-legend" id="cell-progress-20"> 20% </span>
		<span class="progress-legend" id="cell-progress-30"> 30% </span>
		<span class="progress-legend" id="cell-progress-40"> 40% </span>
		<span class="progress-legend" id="cell-progress-50"> 50% </span>
		<span class="progress-legend" id="cell-progress-60"> 60% </span>
		<span class="progress-legend" id="cell-progress-70"> 70% </span>
		<span class="progress-legend" id="cell-progress-80"> 80% </span>
		<span class="progress-legend" id="cell-progress-90"> 90% </span>
		<span class="progress-legend" id="cell-progress-100"> 100% </span>
	</div>
</div>
