<%= render partial: "cells_header"%>

<br>

<div class="center-container">
	<h1>Cells without an assigned user:</h1>
</div>

<div class="center-container">
	<%= render partial: "index", locals: {cells: @cells}%>
</div>
