<div class="center-container">
<div id="show-header">
	<h1 class="fallout-font"><%= @cell.name %></h1>
	<h1 class="fallout-font"><%=link_to "Edit Cell", edit_cell_path(@cell)%></h1>
	</div>
</div>

<div class="center-container">



	<div class="cell-grid-container">
		<div class="border-box" id="show-container">	
			<%=render partial: "show", locals: {cell: @cell} %>
		</div>

		<div class="border-box" id="tasks-container">	
			<%=render partial: "tasks", locals: {cell: @cell} %>
		</div>

		<div class="border-box" id="quest-container">
			quests go here in this grid space 
		</div>

		<div class="border-box" id="comment-container">
			comments will go here
		</div>
	</div>
</div>